<div class="project">
    <div class="projectTitle">
        {{ firstName }}
        {{ lastName }}
    </div>
    <div class="projectImage">
        <img src={{imageUrl}} title={{imageTitle}} />
    </div>
    <div class="projectDescription">
        {{ imageDescription }}
    </div>

</div>