<div class="project project2">
    <div class="project2Text project2Facts">
        <h3>Facts:</h3>
        {{facts}}
    </div>
    <div class="project2Text project2Review">
    <h3>Review:</h3>
        {{review}}
    </div>
    <div class="project2Text project2Rating">
    <h3>Rating:</h3>
        {{rating}}/5
    </div>
</div>